# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# 这些通常由 PyInstaller 生成，包含打包的 metadata
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock
# (如果你想提交 lock 文件，可以删除上面这一行)

# pdm
.pdm.toml
__pypackages__/

# virtualenv
venv/
.env/
.env.bak/
venv.bak/
.venv/
.venv.bak/

# VS Code
.vscode/
certs/
tmp/
test/
# 如果想提交某些 VS Code 配置，可以改成：
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# PyCharm / IntelliJ
.idea/

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Pyre type checker
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Local config / secrets (根据项目情况手动补充)
*.local
*.secret
*.env
.env.*

tls_client
tls_server
hook.so